body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: hsl(193, 75.1%, 45.7%);
  --color-primary-dark01: hsl(195, 72.1%, 43.7%);
  --color-secondary: hsl(353.3, 79.4%, 42%);
  --color-lightgray: hsl(0, 0%, 83%);
  --color-lightergray: hsla(0, 0%, 0%, 0.05);
  --color-text-dark: #333;
  --color-text-light: #fff;
  text-align: center;
  color: var(--color-text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background: white;
}

header h1 a {
  text-decoration: none;
  color: var(--color-primary);
}

header h1 a:hover {
  color: var(--color-primary-dark01);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-text-light);
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 1px hsla(0, 0%, 0%, 0.25);
  border-bottom: 1px solid var(--color-primary-dark01);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li a,
nav h3 a {
  color: var(--color-text-light);
  text-decoration: none;
  padding: 1rem;
  transition: background 0.2s ease;
}

nav ul li a:hover,
nav h3 a:hover {
  background: var(--color-primary-dark01);
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: var(--color-primary);
  color: var(--color-text-light);
  text-align: left;
}

tbody tr {
  transition: background 0.2s ease;
}

tbody tr:nth-of-type(even) {
  background: var(--color-lightergray);
}

tbody tr:hover {
  background: lightyellow;
}

td,
th {
  padding: 0.25rem 0.5rem;
  text-align: left;
}

a {
  color: var(--color-secondary);
}

.userinfo {
  text-align: left;
}

dt {
  font-weight: bold;
  margin-top: 1rem;
}
